.calendar {
  display: flex;
}

.calendar > div:first-child > .box {
  border-left: solid 1px #ebedee;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
}

.hint {
  text-align: center;
}
